<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
<div id="card" class="card">
    <header>{{ title }}</header>
    <div v-html="content"></div>
    <div>
        <form v-on:submit.prevent="addDino">
            <input id="itemForm" v-model="dino">
            <button v-bind:disabled="buttonDisabled">{{ buttonText }}</button>
        </form>
    </div>
    <template v-if="dinos.length > 0"><h4>Dinosaur List</h4>
        <ul>
            <li v-for="d in dinos">
                <dino-counter v-bind:name="d.text"
                v-bind:initial-quantity="d.quantity"
                              @increment="incrementTotal"></dino-counter>
                <!--<button v-on:click="dino.quantity += 1">+</button>-->
                <!--{{dino.quantity}}-->
                <!--<button v-on:click="dino.quantity -= 1">-</button>-->
                <!--<h4>{{ dino.text | capitalize }}</h4>-->
                <button v-on:click="deleteDino">Make Extinct</button>
                <span v-bind:title="message">The {{ d.text | undercase }} weighs {{ d.weight }}.</span>
                <br>
                <a href="{{ d.text | undercase | url}}">{{ d.text | undercase | url}}</a>
            </li>
        </ul>
        <ul>
            <li>Total Species: {{ totalSpecies }} <span>Updated: {{ speciesUpdated }}</span></li>
            <li>Total 2: {{ total }} by dino-counter</li>
        </ul>
    </template>
    <p v-else>You have no dinosaurs yet</p>
</div>

<script type="text/x-template" id="dino-counter">
    <div>
        <button v-on:click="increment">{{quantity}}</button>
        {{ name | capitalize }}
    </div>
</script>

<div id="card2" class="card">
    <header>{{ title }}</header>
    <button v-bind:class="[sizeToggle ? 'large' : '', { 'rounded': isRound}]"
            v-bind:style="styles" v-bind:disabled="disabled">Style tuning
    </button>
    <hr>
    <h4>Options</h4>
    <ul>
        <li><input type="checkbox" v-model="sizeToggle"><label>Large</label></li>
        <li><input type="checkbox" v-model="isRound" id="round"><label for="round">Rounded</label></li>
        <li><input type="checkbox" v-model="disabled"><label>Disabled</label></li>
        <li><input type="text" v-model="backgroundColor"><label>Background Color</label></li>
        <li><input type="text" v-model="fontColor"><label>Font Color</label></li>
        <li><input type="range" v-model="range" min="15" max="85"><label>Position</label></li>
    </ul>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">This box is {{ checked ? 'checked' : 'unchecked'}}</label>
</div>


<script src="script.js"></script>
</body>
</html>